MONGODB_URI=mongodb+srv://LA_HACK:lahack2026@cluster0.emlcfrz.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=specmem
GEMINI_API_KEY=AIzaSyDfydsG4VOHepB0grknUNuXyD499k84QWQ
BACKEND_URL=http://localhost:8000